@use './colors.scss' as *;



:root {
    --root_brand_primary_scale_00:#f29ad8;
    --root_brand_primary_scale_01:#ee71c3;
    --root_brand_primary_scale_03:#f658b8;
    --root_brand_primary_scale_04:#f039b1;
    --root_brand_primary_scale_05:#e305ad;
    --root_brand_primary_scale_06:#ff01bf;
    --root_brand_secondary:#0C0839;
    --root_brand_tertiary:#1B105D;
    // Action colors
    --root_primary_action:#ABE542;
    --root_secondary_action:#8F97A2;
    // Boolean colors
    --root_positive:#15FF93;
    --root_negative:#F04F8D;
    //Backgrounds
    --root_background_blue:#233946;
    //Basic colors
    --root_white_normal:#f9f9f9;
    --root_black_normal:#1C1D21;
}



